<ion-modal-view>
  <ion-content class="contentModal">
    <div class="contentIconClose" ng-click="Modal_Reasign.hide()">
      <img class="iconClose" src="img/icon_close_off.png" alt="">
    </div>
    <div class="contentDots">
      <div class="dotOn"></div>
      <div class="dotOff" style="margin-left: 10px"></div>
    </div>
    <p class="textReasign">REASIGNAR DISPOSITIVO</p>
    <p class="textChooseAccess">Elige un acceso para reasignar el dispositivo</p>

    <div class="contentTable" ng-controller="modal_reasignCtrl">
      <table>
        <tbody>
          <tr>
            <td>Zona Pradera</td>
            <td>Torre 3</td>
            <td>Oficina 512</td>
            <td class="fontBold">Bodega C3</td>
          </tr>

          <tr>
            <td>Zona Pradera</td>
            <td>Torre 3</td>
            <td>Oficina 512</td>
            <td class="fontBold">Bodega C3</td>
          </tr>

          <tr>
            <td>Zona Pradera</td>
            <td>Torre 3</td>
            <td>Oficina 512</td>
            <td class="fontBold">Bodega C3</td>
          </tr>

          <tr>
            <td>Zona Pradera</td>
            <td>Torre 4</td>
            <td>Oficina 310</td>
            <td class="fontBold">Salón C3</td>
          </tr>

          <tr>
            <td>Zona Pradera</td>
            <td>Torre 3</td>
            <td>Oficina 512</td>
            <td class="fontBold">Bodega C3</td>
          </tr>

          <tr>
            <td>Zona Pradera</td>
            <td>Torre 3</td>
            <td>Oficina 512</td>
            <td class="fontBold">Bodega C3</td>
          </tr>

          <tr>
            <td>Zona Pradera</td>
            <td>Torre 3</td>
            <td>Oficina 512</td>
            <td class="fontBold">Bodega C3</td>
          </tr>

          <tr>
            <td>Zona Pradera</td>
            <td>Torre 3</td>
            <td>Oficina 512</td>
            <td class="fontBold">Bodega C4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="contentButtonAccept">
      <button class="buttonAccept" type="button">Aceptar</button>
    </div>
  </ion-content>
</ion-modal-view>
