

<ion-view>

  <ion-content class="containerLogin classFade">

    <div class="contentIconClose" ui-sref="main_screen">
      <img class="iconClose" src="img/icon_close_on.png" alt="">
    </div>

    <div class="boxLogin">
      <img class="logoInLogin" src="img/logo_footer.png" alt="M-Access">
      <p class="textAdminPlatform">Admin Platform</p>

      <form class="formLogin">
        <input type="email" placeholder="Username/correo electrónico">

      </form>

    </div>


  </ion-content>


</ion-view>
