.iconCloseWhite{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../../img/icon_close.png) no-repeat;
  background-position: center;
  background-size: 22px;
}

.iconCloseWhite:active{
  background: url(../../img/icon_close_hover.png) no-repeat;
  background-position: center;
  background-size: 22px
}


.containerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c6af;
}

.containerLogin > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLogin{
  background-color: #fff;
  max-width: 90%;
  /*height: 42%;*/
  margin-bottom: 10%;
  box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
}

.logoInLogin{
  width: 65%;
}

.textAdminPlatform{
  font-size: 10px;
  margin-bottom: 35px;
}

.formLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.inputLogin{
  width: 90%;
  color: #dbdbdb !important;
  border: 1px solid #dbdbdb !important;
  padding: 0 15px !important;
}

.inputLogin:focus, .inputLogin::-webkit-input-placeholder{
  color: #dbdbdb !important;
}

.buttonSignIn{
  width: 210px;
  max-width: 75%;
  height: 35px;
  border: none;
  border-radius: 50px;
  background-color: #00c6af;
  font-family: Roboto_Bold;
  color: #fff;
}

.buttonSignIn:active{
  background-color: #3ba3a5;
}
