

<ion-view>

  <ion-content class="containerLogin classFade">

    <div class="contentIconClose" ui-sref="main_screen">
      <img class="iconClose" src="img/icon_close_on.png" alt="">
    </div>

    <div class="boxLogin">
      <div>
        <img class="logoInLogin" src="img/logo_footer.png" alt="M-Access">
        <p class="textAdminPlatform">Admin Platform</p>

        <form class="formLogin">
          <input class="inputLogin" type="text" placeholder="Username / correo electrónico">
        </form>
        <form class="formLogin">
          <input class="inputLogin" type="text" placeholder="Contraseña">
        </form>

        <button class="buttonSignIn" type="button" ui-sref="re_asign">Iniciar Sesión</button>

      </div>

    </div>


  </ion-content>


</ion-view>
