

<ion-view>

  <ion-content class="vertical_horizontal_Center_ion_content classFade">

    <div class="contentSuccess">
      <img class="imgSuccess" src="img/face_accepted.png" alt="Cargando...">
      <p class="textSuccessfulRecognition" ui-sref="main_screen">Reconocimiento exitoso. <br> Acceso <span class="fontBoldItalic">concedido</span>.</p>
    </div>

  </ion-content>

  <ion-footer-bar class="contentFooter">
      <img class="logo_footer" src="img/logo_footer.png" alt="M-Access">
  </ion-footer-bar>

</ion-view>
