.contentHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.iconLogOut{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../../img/icon_logout.png) no-repeat;
  background-position: center;
  background-size: 22px;
}

.iconLogOut:active{
  background: url(../../img/icon_logout_hover.png) no-repeat;
  background-position: center;
  background-size: 22px;
}

.centerReasign{
  text-align: center;
  padding-top: 40px;
}

.imgDevice{
  width: 65px;
  height: 85px;
}

.textDeviceAsign{
  font-size: 10px;
  color: #dadad9;
}

.textDirection, .textDirection > span{
  font-size: 12px;
}

.contentButtonReasign{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttonReasign{
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #00c6af;
  font-family: Roboto_Bold;
  color: #fff;
}

.buttonReasign:active{
  background-color: #3ba3a5;
}
