

<ion-view>

  <ion-content class="vertical_horizontal_Center_ion_content classFade">

    <!-- <div class="contentIconSettings">
      <img class="iconSettings" src="img/icon_settings_on.png" alt="">
    </div> -->

    <div class="contentRecognize">
      <img class="imgRecognize" src="img/reconocer.png" alt="Cargando...">
      <p class="textRequestAccess">Solicita acceso a través de <br> <span class="fontBoldItalic">reconocimiento facial</span>. Es fácil y rápido.</p>

      <button class="buttonAccess" type="button" ui-sref="scan_face">Accede</button>
    </div>

  </ion-content>

  <ion-footer-bar class="contentFooter">
      <img class="logo_footer" src="img/logo_footer.png" alt="M-Access">
  </ion-footer-bar>

</ion-view>
