

<ion-view>

  <ion-content class="vertical_horizontal_Center_ion_content classFade">

    <div class="contentIconClose" ui-sref="main_screen">
      <img class="iconClose" src="img/icon_close_off.png" alt="">
    </div>

    <div class="contentPositonYourFace">
      <!-- container camera -->
      <div class="contentCamera" ui-sref="failure">
        <div class="rectangleCamera">
          <div class="circleCamera">
          </div>
        </div>
      </div>
      <!-- loading -->
      <div class="centerContentLoading">
        <div class="contentLoading">
          <div class="loading">
          </div>
        </div>
      </div>

      <div class="verticarHorizontalCenter" ui-sref="success">
        <p class="textPositionYourFace">Posiciona tu rostro dentro del círculo</p>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class="contentFooter">
      <img class="logo_footer" src="img/logo_footer.png" alt="M-Access">
  </ion-footer-bar>

</ion-view>
