/*style in header close*/

.vertical_horizontal_Center_scan_face > div{
  display: flex;
  justify-content: center;
}

.iconCloseDark{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../../img/icon_close_off.png) no-repeat;
  background-position: center;
  background-size: 22px;
}

.iconCloseDark:active{
  background: url(../../img/icon_close_on.png) no-repeat;
  background-position: center;
  background-size: 22px;
}


.contentPositonYourFace{
  text-align: center;
  width: 100%;
  margin-top: 80px;
}

.contentCamera{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangleCamera{
  width: 45%;
  /*height: 100%;
  display: flex;
  justify-content: center;*/
  border-radius: 10px;
  padding-top: 10px;

}

.potho{
  width: 100%;
}

/*.circleCamera{
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 20px 3px black;;
}*/


.centerContentLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.contentLoading{
  width: 45%;
  height: 10px;
  background-color: #ededed;
  position: relative;
  border-radius: 6px;
}

.loading{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #37d160;
  border-radius: 6px;
  animation-name: fillLoading;
  animation-duration: 3s;
}

@keyframes fillLoading {
  from {width: 0%;}
  to {width: 100%;}
}

.contentTextPositionYourFace{
  height: 30%;
}

.textPositionYourFace{
  line-height: 1;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}
