

<ion-view>

  <ion-content class="vertical_horizontal_Center_ion_content classFade">

    <div class="contentFailure">
      <img class="imgFailure" src="img/face_denied.png" alt="Cargando...">
      <p class="textRecognitionFailed">Reconocimiento fallido. <br> Acceso <span class="fontBoldItalic">denegado</span>.</p>
      <button class="buttonRetry" type="button" ui-sref="main_screen">Reintentar</button>
    </div>

  </ion-content>

  <ion-footer-bar class="contentFooter">
      <img class="logo_footer" src="img/logo.png" alt="M-Access">
  </ion-footer-bar>

</ion-view>
